<!DOCTYPE html>
<html lang="en">
<head>
    <title>COVID-19 Stats</title>
    <link rel="stylesheet" type="text/css" href="covid/index.css">
</head>
<body>
    <div class="grid-container">
       <aside class="sidenav">
         <ul class="sidenav__list">
           <li class="sidenav__list-item" onclick=location.href="#">Stats</li>
           <li class="sidenav__list-item" onclick=location.href="symptoms.html">Symptoms</li>
           <li class="sidenav__list-item" onclick=location.href="precautions.html">Precautions</li>
         </ul>
       </aside>
       <header>
        <button>
            <span>COVID-19 Stats</span>
        </button></header>
        <br>
       <main class="main">
       <br>

       <main class="main">
       <div class="main-cards">
        <div class="card"><b>COVID-19 Precautions </b><br>
        <h3>Know How it Spreads?</h3><br>
<ul>
<li>There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19).
<li>The best way to prevent illness is to avoid being exposed to this virus.
<li>The virus is thought to spread mainly from person-to-person.
<ul><li>Between people who are in close contact with one another (within about 6 feet).
    <li>Through respiratory droplets produced when an infected person coughs or sneezes.
</ul>
<li>These droplets can land in the mouths or noses of people who are nearby or possibly be inhaled into the lungs.
</ul>
<h3>Take steps to protect yourself</h3><br>
<h4>Clean your hands often</h4><br>
<ul>
<li>Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.
<li>If soap and water are not readily available, use a hand sanitizer that contains at least 60% alcohol. Cover all surfaces of your hands and rub them together until they feel dry.
<li>Avoid touching your eyes, nose, and mouth with unwashed hands.
</ul>
<h4>Avoid close contact</h4><br>
<ul>
<li>Avoid close contact with people who are sick
<li>Put distance between yourself and other people if COVID-19 is spreading in your community. This is especially important for people who are at higher risk of getting very sick.
</ul>
<h3>Take steps to protect others</h3><br>
<h4>Stay home if you’re sick</h4><br>
<ul>
<li>Stay home if you are sick, except to get medical care. Learn what to do if you are sick.
</ul>
            <h4>Cover coughs and sneezes</h4><b4></b4>
<ul>
<li>Cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow.
<li>Throw used tissues in the trash.
<li>Immediately wash your hands with soap and water for at least 20 seconds. If soap and water are not readily available, clean your hands with a hand sanitizer that contains at least 60% alcohol.
</ul>
<h4>Wear a facemask if you are sick</h4><br>
<ul>
<li>If you are sick: You should wear a facemask when you are around other people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s office. If you are not able to wear a facemask (for example, because it causes trouble breathing), then you should do your best to cover your coughs and sneezes, and people who are caring for you should wear a facemask if they enter your room. Learn what to do if you are sick.
<li>If you are NOT sick: You do not need to wear a facemask unless you are caring for someone who is sick (and they are not able to wear a facemask). Facemasks may be in short supply and they should be saved for caregivers.
</ul>
<h4>Clean and disinfect</h4><br>
<ul>
<li>Clean AND disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
<li>If surfaces are dirty, clean them: Use detergent or soap and water prior to disinfection.
</ul>
       </div>
       </div>
       </main>
       </main>
       <footer class="footer">
        <p>about us</p>
      </footer>
     </div>
</body>
</html>